.mediaViewInfo {
	--web-view-name: kvc;
	--web-view-id: kvc;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
:root {
	--web-view-ids: kvc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#kvc {
	position: absolute;
	width: 1920px;
	height: 4235px;
	font-family: arial;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: kvc;
	--web-view-id: kvc;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-show-by-media-query: true;
	--web-enable-deep-linking: true;
	--web-page-font: arial;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Component_16__1 {
	position: absolute;
	width: 160px;
	height: 475px;
	left: 1380px;
	top: 570px;
	overflow: visible;
}
#emilebilir {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 0px;
	top: 81px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
}
.Rectangle_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#EMLEBLR_STRLER {
	left: 39px;
	top: 18.375px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#milmeyen {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_u {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_u {
	filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#EMLMEYEN_STRLER {
	left: 36px;
	top: 18.375px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Component_7__7 {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 0px;
	top: 243px;
	overflow: visible;
}
#Rectangle_3_x {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_x {
	filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#EMLEBLR_HEMOSTAT {
	left: 39px;
	top: 18.375px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Component_8__7 {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 0px;
	top: 324px;
	overflow: visible;
}
#Path_40 {
	fill: rgba(255,255,255,1);
}
.Path_40 {
	filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
	overflow: visible;
	position: absolute;
	width: 178px;
	height: 88px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#DENTAL_STRLER {
	left: 40px;
	top: 18.375px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Component_9__7 {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 0px;
	top: 405px;
	overflow: visible;
}
#Rectangle_3_ {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_ {
	filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#VETERNERLK {
	left: 26px;
	top: 22.982px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#emilebilirhemosta {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 0px;
	top: 162px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s wind-up;
	--web-action-type: view;
	--web-action-target: tektel;
	cursor: pointer;
}
#kvc_ {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_ba {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_ba {
	filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 88px;
	left: 0px;
	top: 0px;
}
#KVC_ {
	left: 65px;
	top: 27.673px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Rectangle_17 {
	fill: rgba(1,129,196,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 472px;
	left: 0px;
	top: 3646px;
}
#Component_2__26 {
	position: absolute;
	width: 59px;
	height: 261px;
	left: 1861px;
	top: 770px;
	overflow: visible;
}
#Subtraction_1 {
	fill: rgba(110,197,242,1);
}
.Subtraction_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 77px;
	height: 279px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15 {
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 15px;
	top: 90.997px;
	overflow: visible;
}
#Path_16 {
	fill: rgba(255,255,255,1);
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 16.004px;
	height: 16.005px;
	left: 7.501px;
	top: 7.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
	fill: rgba(255,255,255,1);
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 6.507px;
	height: 6.507px;
	left: 12.249px;
	top: 12.249px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
	fill: rgba(255,255,255,1);
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 15px;
	top: 188.997px;
	overflow: visible;
}
#Path_19 {
	fill: rgba(255,255,255,1);
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 5.37px;
	height: 6.201px;
	left: 13.436px;
	top: 12.402px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
	fill: rgba(255,255,255,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
	fill: rgba(255,255,255,1);
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 15px;
	top: 40.997px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	fill: rgba(255,255,255,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 30.817px;
	left: 15px;
	top: 139.997px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_21 {
	fill: rgba(0,0,0,0);
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 35px;
	height: 166.961px;
	left: 1876px;
	top: 824.355px;
}
#Group_24 {
	position: absolute;
	width: 1920px;
	height: 193px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10_bo {
	fill: url(#Rectangle_10_bo);
}
.Rectangle_10_bo {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 193px;
	left: 0px;
	top: 0px;
}
#ANASAYFA {
	left: 457px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#KATALOGLAR {
	left: 567px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#KURUMSAL {
	left: 1282px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#NELER {
	left: 698px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#DUYURULAR {
	left: 1157px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#LETM {
	left: 1398px;
	top: 98px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Group_3 {
	position: absolute;
	width: 232.013px;
	height: 105.461px;
	left: 843.994px;
	top: 46.522px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 232.013px;
	height: 105.461px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TR__EN {
	left: 1409px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#KVC_by {
	left: 380px;
	top: 321.5px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	color: rgba(0,134,198,1);
}
#Line_7 {
	fill: transparent;
	stroke: rgba(0,129,195,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 738px;
	height: 1px;
	left: 380px;
	top: 397px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(0,129,195,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 738px;
	height: 1px;
	left: 380px;
	top: 1481px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11 {
	fill: transparent;
	stroke: rgba(0,129,195,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 738px;
	height: 1px;
	left: 380px;
	top: 2178px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12 {
	fill: transparent;
	stroke: rgba(0,129,195,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 738px;
	height: 1px;
	left: 380px;
	top: 2809px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10 {
	fill: transparent;
	stroke: rgba(0,129,195,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 738px;
	height: 1px;
	left: 380px;
	top: 1067px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_51 {
	position: absolute;
	width: 966px;
	height: 550px;
	left: 380px;
	top: 457px;
	overflow: visible;
}
#kvc_tektel {
	position: absolute;
	width: 478px;
	height: 326px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TEKTEL_steril_ISO_5832_Blm-1_C {
	left: 533px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 209px;
	line-height: 21px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#Cerrahi_paslanmaz_elik_tel_yar {
	left: 0px;
	top: 448px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 102px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#Cerrahi_paslanmaz_elik_tel_emi {
	left: 533px;
	top: 386px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 34px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#TEKTEL_batn_yaralarnn_kapanmas {
	left: 533px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 68px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#TANIM {
	left: 533px;
	top: 81px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#urunlarbaslık{
	
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,129,195,1);
}
#KULLANIM_AMACI {
	left: 0px;
	top: 412px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_PERFORMANS_ZELLKLER {
	left: 533px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 264px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_FAYDA {
	left: 533px;
	top: 446px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_FAYDAA {
	
	left: 0px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#Cerrahi_paslanmaz_elik_tel_yarr {
	left: 0px;
	top: 650px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 102px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}

#tektel {
	left: 534px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(175,115,1,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 413px;
	height: 1px;
	left: 533.5px;
	top: 60.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2 {
	fill: transparent;
	stroke: rgba(175,115,1,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 617px;
	top: 12px;
}
#R {
	left: 621px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(175,115,1,1);
}
#Polyester_filamentinin_rlmesin {
	left: 913px;
	top: 1212px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 209px;
	line-height: 21px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#TANIM_cj {
	left: 913px;
	top: 1176px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#politer {
	left: 914px;
	top: 1110px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(175,115,1,1);
}
#Line_1_cl {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_cl {
	overflow: visible;
	position: absolute;
	width: 413px;
	height: 1px;
	left: 913.5px;
	top: 1155.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2_cm {
	fill: transparent;
	stroke: rgba(175,115,1,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_cm {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 997px;
	top: 1107px;
}
#R_cn {
	left: 1001px;
	top: 1109px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(175,115,1,1);
}
#dopace {
	position: absolute;
	width: 478px;
	height: 326px;
	left: 380px;
	top: 1509px;
	overflow: visible;
}
#Youn_polypropylene_polimerinin {
	left: 913px;
	top: 1626px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 209px;
	line-height: 21px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#DOPACE_geici_kalp_pace_teli_ak {
	left: 380px;
	top: 2033px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 85px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#DOPACE_d_kalp_pili_ve_miyokard {
	left: 913px;
	top: 1762px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 255px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#DOPACE_geici_epikradiyal_kalp_ {
	left: 913px;
	top: 2071px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 51px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#TANIM_ct {
	left: 913px;
	top: 1590px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KULLANIM_AMACI_cu {
	left: 380px;
	top: 1997px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_PERFORMANS_ZELLKLER_cv {
	left: 913px;
	top: 1726px;
	position: absolute;
	overflow: visible;
	width: 264px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_FAYDA_cw {
	left: 913px;
	top: 2035px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#dopace_cx {
	left: 914px;
	top: 1524px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(175,115,1,1);
}
#Line_1_cy {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_cy {
	overflow: visible;
	position: absolute;
	width: 413px;
	height: 1px;
	left: 913.5px;
	top: 1569.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2_cz {
	fill: transparent;
	stroke: rgba(175,115,1,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_cz {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 997px;
	top: 1521px;
}
#R_c {
	left: 1001px;
	top: 1523px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(175,115,1,1);
}
#Group_54 {
	position: absolute;
	width: 966px;
	height: 499px;
	left: 380px;
	top: 2250px;
	overflow: visible;
}
#propilen {
	position: absolute;
	width: 478px;
	height: 326px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#daxton-K_steril_sentetik_emilm {
	left: 533px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 209px;
	line-height: 21px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#n_ {
	left: 0px;
	top: 448px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 17px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#n__c {
	left: 533px;
	top: 386px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 17px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#n__da {
	left: 533px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 17px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#TANIM_c {
	left: 533px;
	top: 81px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KULLANIM_AMACI_c {
	left: 0px;
	top: 412px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_PERFORMANS_ZELLKLER_c {
	left: 533px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 264px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_FAYDA_da {
	left: 533px;
	top: 446px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#propilen_db {
	left: 534px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(9,104,199,1);
}
#Line_1_dc {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_dc {
	overflow: visible;
	position: absolute;
	width: 413px;
	height: 1px;
	left: 533.5px;
	top: 60.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2_dd {
	fill: transparent;
	stroke: rgba(9,104,199,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_dd {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 652px;
	top: 12px;
}
#R_de {
	left: 656px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(9,104,199,1);
}
#Group_55 {
	position: absolute;
	width: 967px;
	height: 601px;
	left: 380px;
	top: 2888px;
	overflow: visible;
}
#daxton {
	position: absolute;
	width: 478px;
	height: 326px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TEKTEL_steril_ISO_5832_Blm-1_C_dh {
	left: 533px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 209px;
	line-height: 21px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#daxton-K_her_tr_yumuak_doku_ya {
	left: 0px;
	top: 548px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 51px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#daxton-K_dokuda_minimum_akut_e {
	left: 533px;
	top: 386px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 85px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#daxton-D_genel_olarak_yumuak_d {
	left: 534px;
	top: 533px;
	position: absolute;
	overflow: visible;
	width: 434px;
	height: 68px;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(82,82,82,1);
}
#TANIM_dl {
	left: 533px;
	top: 81px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KULLANIM_AMACI_dm {
	left: 0px;
	top: 512px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_PERFORMANS_ZELLKLER_dn {
	left: 533px;
	top: 350px;
	position: absolute;
	overflow: visible;
	width: 264px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#KLNK_FAYDA_do {
	left: 533px;
	top: 495px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
#daxton_dp {
	left: 534px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(170,36,69,1);
}
#Line_1_dq {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_dq {
	overflow: visible;
	position: absolute;
	width: 413px;
	height: 1px;
	left: 533.5px;
	top: 60.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_2_dr {
	fill: transparent;
	stroke: rgba(170,36,69,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_dr {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 630px;
	top: 12px;
}
#R_ds {
	left: 634px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue, arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(170,36,69,1);
}
#Rectangle_22 {
	fill: rgba(0,76,116,1);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 117px;
	left: 0px;
	top: 4118px;
}
#kvc_politer {
	position: absolute;
	width: 478px;
	height: 326px;
	left: 358px;
	top: 1095px;
	overflow: visible;
}