.mediaViewInfo {
    --web-view-name: kataloglar;
    --web-view-id: kataloglar;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: kataloglar;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#kataloglar {
    position: absolute;
    width: 1920px;
    height: 2107px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: kataloglar;
    --web-view-id: kataloglar;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#dogsan-brosur {
    position: absolute;
    width: 1920px;
    height: 888px;
    left: 1px;
    top: 495px;
    overflow: visible;
}
#Rectangle_21 {
    fill: rgba(0,0,0,0);
}
.Rectangle_21 {
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 166.96px;
    left: 1876px;
    top: 824.355px;
}
#Component_2__7 {
    position: absolute;
    width: 59px;
    height: 261px;
    left: 1861px;
    top: 770px;
    overflow: visible;
}
#Subtraction_1 {
    fill: rgba(110,197,242,1);
}
.Subtraction_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 77px;
    height: 279px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_15 {
    position: absolute;
    width: 31.005px;
    height: 31.005px;
    left: 15px;
    top: 90.998px;
    overflow: visible;
}
#Path_16 {
    fill: rgba(255,255,255,1);
}
.Path_16 {
    overflow: visible;
    position: absolute;
    width: 16.004px;
    height: 16.005px;
    left: 7.501px;
    top: 7.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
    fill: rgba(255,255,255,1);
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 6.507px;
    height: 6.507px;
    left: 12.249px;
    top: 12.249px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
    fill: rgba(255,255,255,1);
}
.Path_18 {
    overflow: visible;
    position: absolute;
    width: 31.005px;
    height: 31.005px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
    position: absolute;
    width: 31.005px;
    height: 31.005px;
    left: 15px;
    top: 188.997px;
    overflow: visible;
}
#Path_19 {
    fill: rgba(255,255,255,1);
}
.Path_19 {
    overflow: visible;
    position: absolute;
    width: 5.37px;
    height: 6.201px;
    left: 13.436px;
    top: 12.402px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
    fill: rgba(255,255,255,1);
}
.Path_20 {
    overflow: visible;
    position: absolute;
    width: 31.005px;
    height: 31.005px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
    fill: rgba(255,255,255,1);
}
.Path_21 {
    overflow: visible;
    position: absolute;
    width: 31.005px;
    height: 31.005px;
    left: 15px;
    top: 40.997px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
    fill: rgba(255,255,255,1);
}
.Path_22 {
    overflow: visible;
    position: absolute;
    width: 31.005px;
    height: 30.817px;
    left: 15px;
    top: 139.997px;
    transform: matrix(1,0,0,1,0,0);
}
#KATALOGLAR_ {
    left: 380.5px;
    top: 321.5px;
    position: absolute;
    overflow: visible;
    width: 317px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    color: rgba(0,134,198,1);
}
#Group_24 {
    position: absolute;
    width: 1920px;
    height: 193px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_10_ {
    fill: url(#Rectangle_10_);
}
.Rectangle_10_ {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 193px;
    left: 0px;
    top: 0px;
}
#ANASAYFA {
    left: 457px;
    top: 98px;
    position: absolute;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#KATALOGLAR_ba {
    left: 567px;
    top: 98px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#KURUMSAL {
    left: 1282px;
    top: 98px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#NELER {
    left: 698px;
    top: 98px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#DUYURULAR {
    left: 1157px;
    top: 98px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#LETM {
    left: 1398px;
    top: 98px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#Group_3 {
    position: absolute;
    width: 232.013px;
    height: 105.461px;
    left: 843.994px;
    top: 46.522px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    --web-action-target: Politer.html;
    cursor: pointer;
}
#Group_2 {
    position: absolute;
    width: 232.013px;
    height: 105.461px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#TR__EN {
    left: 1409px;
    top: 48px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255,255,255,1);
}
#Rectangle_17 {
    fill: rgba(1,129,196,1);
}
.Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 472px;
    left: 0px;
    top: 1528px;
}
#Rectangle_22 {
    fill: rgba(0,76,116,1);
}
.Rectangle_22 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 117px;
    left: 0px;
    top: 2000px;
}
#Line_7 {
    fill: transparent;
    stroke: rgba(0,129,195,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_7 {
    overflow: visible;
    position: absolute;
    width: 738px;
    height: 1px;
    left: 380px;
    top: 397px;
    transform: matrix(1,0,0,1,0,0);
}
#DOSAN_BROR {
    filter: drop-shadow(2px 8px 6px rgba(0, 0, 0, 0.161));
    left: 380px;
    top: 1054px;
    position: absolute;
    overflow: visible;
    width: 721px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
}
#Path_10 {
    fill: transparent;
    stroke: rgba(1,129,196,1);
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_10 {
    overflow: visible;
    position: absolute;
    width: 34.538px;
    height: 78.966px;
    left: 177.002px;
    top: 809.33px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
    fill: transparent;
    stroke: rgba(1,129,196,1);
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_13 {
    overflow: visible;
    position: absolute;
    width: 34.538px;
    height: 78.966px;
    left: 1715.65px;
    top: 809.33px;
    transform: matrix(1,0,0,1,0,0);
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: dental.html;
    cursor: pointer;
}
#Group_48 {
    position: absolute;
    width: 347px;
    height: 35px;
    left: 780px;
    top: 1306px;
    overflow: visible;
}
#Ellipse_8 {
    fill: transparent;
    stroke: rgba(1,129,196,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_8 {
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 35px;
    left: 0px;
    top: 0px;
}
#Ellipse_8_bn {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(1,129,196,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: dental.html;
    cursor: pointer;
}
.Ellipse_8_bn {
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 35px;
    left: 78px;
    top: 0px;
}
#Path_35 {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(1,129,196,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_35 {
    overflow: visible;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 156px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: kalpdamar.html;
    cursor: pointer;
}
#Ellipse_8_bp {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(1,129,196,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    --web-action-target: kalpdamar___1.html;
    cursor: pointer;
}
.Ellipse_8_bp {
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 35px;
    left: 234px;
    top: 0px;
}
#Path_36 {
    opacity: 0.5;
    fill: transparent;
    stroke: rgba(1,129,196,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_36 {
    overflow: visible;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 312px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_9 {
    fill: rgba(1,129,196,1);
}
.Ellipse_9 {
    position: absolute;
    overflow: visible;
    width: 19px;
    height: 19px;
    left: 8px;
    top: 8px;
}