:root {
	--web-view-ids: homepage;
	--web-view-name: homepage;
	--web-view-id: homepage;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: false;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: false;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: true;
	--web-application: false;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
	--web-page-font: arial;
}
#homepage {
	display: none;
}
@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: homepage;
		--web-view-id: homepage;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
		--web-page-font: arial;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#homepage {
		position: absolute;
		display: block;
		width: 1920px;
		height: 3971px;
		font-family: arial;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: homepage;
		--web-view-id: homepage;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: fit;
		--web-scale-on-resize: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
		--web-page-font: arial;
	}
	#Rectangle_22 {
		fill: rgba(0,76,116,1);
	}
	.Rectangle_22 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 117px;
		left: 0px;
		top: 3858px;
	}
	#healthcare-medical-concept-med {
		position: absolute;
		width: 1920px;
		height: 1079px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#emilebilir {
		position: absolute;
		width: 190px;
		height: 130px;
		left: 380px;
		top: 966px;
		overflow: visible;
	}
	#Rectangle_3 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 190px;
		height: 130px;
		left: 0px;
		top: 0px;
	}
	#EMLEBLR_STRLER {
		left: 54px;
		top: 49px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#milmeyen {
		position: absolute;
		width: 190px;
		height: 130px;
		left: 574px;
		top: 966px;
		overflow: visible;
	}
	#Rectangle_3_m {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3_m {
		position: absolute;
		overflow: visible;
		width: 190px;
		height: 130px;
		left: 0px;
		top: 0px;
	}
	#EMLMEYEN_STRLER {
		left: 51px;
		top: 49px;
		position: absolute;
		overflow: visible;
		width: 89px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Component_7__1 {
		position: absolute;
		width: 190px;
		height: 130px;
		left: 962px;
		top: 966px;
		overflow: visible;
	}
	#Rectangle_3_p {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3_p {
		position: absolute;
		overflow: visible;
		width: 190px;
		height: 130px;
		left: 0px;
		top: 0px;
	}
	#EMLEBLR_HEMOSTAT {
		left: 54px;
		top: 49px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Component_8__1 {
		position: absolute;
		width: 190px;
		height: 130px;
		left: 1156px;
		top: 966px;
		overflow: visible;
	}
	#Rectangle_3_s {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3_s {
		position: absolute;
		overflow: visible;
		width: 190px;
		height: 130px;
		left: 0px;
		top: 0px;
	}
	#DENTAL_STRLER {
		left: 55px;
		top: 49px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Component_9__1 {
		position: absolute;
		width: 190px;
		height: 130px;
		left: 1350px;
		top: 966px;
		overflow: visible;
	}
	#Rectangle_3_v {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3_v {
		position: absolute;
		overflow: visible;
		width: 190px;
		height: 130px;
		left: 0px;
		top: 0px;
	}
	#VETERNERLK {
		left: 41px;
		top: 49px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Path_10 {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_10 {
		overflow: visible;
		position: absolute;
		width: 34.538px;
		height: 78.966px;
		left: 177.002px;
		top: 548.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_13 {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_13 {
		overflow: visible;
		position: absolute;
		width: 34.538px;
		height: 78.966px;
		left: 1715.65px;
		top: 548.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#emilebilirhemosta {
		position: absolute;
		width: 190px;
		height: 130px;
		left: 768px;
		top: 966px;
		overflow: visible;
	}
	#kvc_ {
		position: absolute;
		width: 190px;
		height: 130px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_3_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3_ {
		position: absolute;
		overflow: visible;
		width: 190px;
		height: 130px;
		left: 0px;
		top: 0px;
	}
	#KVC {
		left: 80px;
		top: 59px;
		position: absolute;
		overflow: visible;
		width: 31px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Group_5 {
		position: absolute;
		width: 246px;
		height: 56px;
		left: 837px;
		top: 1156px;
		overflow: visible;
	}
	#DUYURULAR {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: center;
		font-family: Poppins, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(1,129,196,1);
	}
	#Group_9 {
		position: absolute;
		width: 352px;
		height: 56px;
		left: 784px;
		top: 1857px;
		overflow: visible;
	}
	#ETKNLK_REHBER {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 353px;
		white-space: nowrap;
		text-align: center;
		font-family: Poppins, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(1,129,196,1);
	}
	#Group_34 {
		position: absolute;
		width: 108px;
		height: 56px;
		left: 906px;
		top: 2526px;
		overflow: visible;
	}
	#BLOG {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 109px;
		white-space: nowrap;
		text-align: center;
		font-family: Poppins, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(1,129,196,1);
	}
	#anastomoz_kopya {
		position: absolute;
		width: 317px;
		height: 317px;
		left: 802px;
		top: 1329px;
		overflow: visible;
	}
	#anastomoz_kopya_ba {
		position: absolute;
		width: 317px;
		height: 317px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#ohsad-ingilizce {
		position: absolute;
		width: 317px;
		height: 317px;
		left: 1181px;
		top: 1329px;
		overflow: visible;
	}
	#ohsad-ingilizce_bc {
		position: absolute;
		width: 317px;
		height: 317px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#n_7_Mart_stanbul_Beiktata_bulu {
		left: 425px;
		top: 1670px;
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 56px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(82,82,82,1);
	}
	#n_3-27_Mart_Antalyada_dzenlene {
		left: 804px;
		top: 1670px;
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 42px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(82,82,82,1);
	}
	#n_3-27_Mart_tarihlerinde_Antal {
		left: 1183px;
		top: 1670px;
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 42px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: lighter;
		font-size: 12px;
		color: rgba(82,82,82,1);
	}
	#D_HEKML_STR_FLEP__KAPLAMA_ETM {
		left: 424px;
		top: 1253px;
		position: absolute;
		overflow: visible;
		width: 214px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(31,31,31,1);
	}
	#n_2_ULUSAL_CERRAH_KONGRES {
		left: 803px;
		top: 1253px;
		position: absolute;
		overflow: visible;
		width: 243px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(31,31,31,1);
	}
	#n_2_OHSAD_KONGRES {
		left: 1182px;
		top: 1253px;
		position: absolute;
		overflow: visible;
		width: 164px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(31,31,31,1);
	}
	#Line_4 {
		fill: transparent;
		stroke: rgba(208,222,230,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4 {
		overflow: visible;
		position: absolute;
		width: 326px;
		height: 1px;
		left: 425.5px;
		top: 1302.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_5 {
		fill: transparent;
		stroke: rgba(208,222,230,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_5 {
		overflow: visible;
		position: absolute;
		width: 326px;
		height: 1px;
		left: 804.5px;
		top: 1302.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_6 {
		fill: transparent;
		stroke: rgba(208,222,230,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_6 {
		overflow: visible;
		position: absolute;
		width: 326px;
		height: 1px;
		left: 1183.5px;
		top: 1302.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#dugme {
		position: absolute;
		width: 122px;
		height: 28px;
		left: 899px;
		top: 1762px;
		overflow: visible;
	}
	#Group_8 {
		position: absolute;
		width: 122px;
		height: 28px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_14 {
		fill: rgba(110,197,242,1);
	}
	.Rectangle_14 {
		filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 46px;
		left: 0px;
		top: 0px;
	}
	#Tmn_Gster {
		left: 9.007px;
		top: 7.304px;
		position: absolute;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(255,255,255,1);
	}
	#Path_14 {
		fill: rgba(255,255,255,1);
	}
	.Path_14 {
		overflow: visible;
		position: absolute;
		width: 8.773px;
		height: 12.726px;
		left: 105.22px;
		top: 7.637px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_10 {
		position: absolute;
		width: 36px;
		height: 36px;
		left: 1083px;
		top: 1759px;
		overflow: visible;
	}
	#Ellipse_1 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 36px;
		height: 36px;
		left: 0px;
		top: 0px;
	}
	#Path_15 {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15 {
		overflow: visible;
		position: absolute;
		width: 13.985px;
		height: 23.97px;
		left: 15.422px;
		top: 8.843px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_11 {
		position: absolute;
		width: 36px;
		height: 36px;
		left: 796px;
		top: 1759px;
		overflow: visible;
	}
	#Ellipse_1_bv {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1_bv {
		position: absolute;
		overflow: visible;
		width: 36px;
		height: 36px;
		left: 0px;
		top: 0px;
	}
	#Path_15_bw {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15_bw {
		overflow: visible;
		position: absolute;
		width: 13.985px;
		height: 23.97px;
		left: 12.422px;
		top: 8.844px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_17 {
		fill: rgba(1,129,196,1);
	}
	.Rectangle_17 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 472px;
		left: 0px;
		top: 3386px;
	}
	#Component_2__1 {
		position: absolute;
		width: 59px;
		height: 261px;
		left: 1861px;
		top: 770px;
		overflow: visible;
	}
	#Subtraction_1 {
		fill: rgba(110,197,242,1);
	}
	.Subtraction_1 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 77px;
		height: 279px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_15 {
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 15px;
		top: 90.997px;
		overflow: visible;
	}
	#Path_16 {
		fill: rgba(255,255,255,1);
	}
	.Path_16 {
		overflow: visible;
		position: absolute;
		width: 16.004px;
		height: 16.005px;
		left: 7.5px;
		top: 7.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_17 {
		fill: rgba(255,255,255,1);
	}
	.Path_17 {
		overflow: visible;
		position: absolute;
		width: 6.507px;
		height: 6.507px;
		left: 12.249px;
		top: 12.249px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_18 {
		fill: rgba(255,255,255,1);
	}
	.Path_18 {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_14 {
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 15px;
		top: 188.997px;
		overflow: visible;
	}
	#Path_19 {
		fill: rgba(255,255,255,1);
	}
	.Path_19 {
		overflow: visible;
		position: absolute;
		width: 5.37px;
		height: 6.201px;
		left: 13.436px;
		top: 12.402px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20 {
		fill: rgba(255,255,255,1);
	}
	.Path_20 {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_21 {
		fill: rgba(255,255,255,1);
	}
	.Path_21 {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 15px;
		top: 40.997px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_22 {
		fill: rgba(255,255,255,1);
	}
	.Path_22 {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 30.817px;
		left: 15px;
		top: 139.997px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_21 {
		fill: rgba(0,0,0,0);
	}
	.Rectangle_21 {
		position: absolute;
		overflow: visible;
		width: 35px;
		height: 166.961px;
		left: 1876px;
		top: 824.355px;
	}
	#Group_33 {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 1156px;
		top: 1953px;
		overflow: visible;
	}
	#Group_16 {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ekran_Resmi_2022-03-26_162337 {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_23_ce {
		fill: url(#Path_23_ce);
	}
	.Path_23_ce {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
		overflow: visible;
		position: absolute;
		width: 56.607px;
		height: 62.582px;
		left: 173.224px;
		top: 169.59px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ekran_Resmi_2022-03-26_162337_cf {
		fill: rgba(0,129,195,1);
	}
	.Ekran_Resmi_2022-03-26_162337_cf {
		position: absolute;
		overflow: visible;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
	}
	#Group_19 {
		position: absolute;
		width: 92.912px;
		height: 92.909px;
		left: 153.418px;
		top: 56.934px;
		overflow: visible;
	}
	#Group_18 {
		position: absolute;
		width: 92.912px;
		height: 92.909px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#UBAT_2022 {
		left: 69px;
		top: 216px;
		position: absolute;
		overflow: visible;
		width: 248px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		color: rgba(255,255,255,1);
	}
	#Group_32 {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 768px;
		top: 1953px;
		overflow: visible;
	}
	#Group_16_ck {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ekran_Resmi_2022-03-26_162337_cl {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_23_cn {
		fill: url(#Path_23_cn);
	}
	.Path_23_cn {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
		overflow: visible;
		position: absolute;
		width: 56.607px;
		height: 62.582px;
		left: 173.224px;
		top: 169.59px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Component_1__1 {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ekran_Resmi_2022-03-26_162337_cp {
		fill: rgba(53,167,221,1);
	}
	.Ekran_Resmi_2022-03-26_162337_cp {
		position: absolute;
		overflow: visible;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
	}
	#Group_20 {
		position: absolute;
		width: 76.701px;
		height: 76.698px;
		left: 153.458px;
		top: 47px;
		overflow: visible;
	}
	#Group_18_cr {
		position: absolute;
		width: 76.701px;
		height: 76.698px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#MART_2022 {
		left: 97.5px;
		top: 220.88px;
		position: absolute;
		overflow: visible;
		width: 190px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}
	#Group_31 {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 380px;
		top: 1953px;
		overflow: visible;
	}
	#Group_17 {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_16_cv {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ekran_Resmi_2022-03-26_162337_cw {
		position: absolute;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_23_cx {
		fill: rgba(105,199,243,1);
	}
	.Path_23_cx {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
		overflow: visible;
		position: absolute;
		width: 56.607px;
		height: 62.582px;
		left: 173.224px;
		top: 169.59px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ekran_Resmi_2022-03-26_162337_cy {
		fill: rgba(105,199,243,1);
	}
	.Ekran_Resmi_2022-03-26_162337_cy {
		position: absolute;
		overflow: visible;
		width: 384px;
		height: 384px;
		left: 0px;
		top: 0px;
	}
	#Group_21 {
		position: absolute;
		width: 92.912px;
		height: 92.909px;
		left: 145.363px;
		top: 56.934px;
		overflow: visible;
	}
	#Group_18_c {
		position: absolute;
		width: 92.912px;
		height: 92.909px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#NSAN-MAYIS_2022 {
		left: 55px;
		top: 216px;
		position: absolute;
		overflow: visible;
		width: 275px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 42px;
		color: rgba(255,255,255,1);
	}
	#n_9-mart {
		position: absolute;
		width: 317px;
		height: 317px;
		left: 423px;
		top: 1329px;
		overflow: visible;
	}
	#n_9-mart_c {
		position: absolute;
		width: 317px;
		height: 317px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_24 {
		position: absolute;
		width: 1920px;
		height: 193px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_10_c {
		fill: url(#Rectangle_10_c);
	}
	.Rectangle_10_c {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 193px;
		left: 0px;
		top: 0px;
	}
	#ANASAYFA {
		left: 457px;
		top: 98px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0,129,195,1);
	}
	#KATALOGLAR {
		left: 567px;
		top: 98px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#KURUMSAL {
		left: 1282px;
		top: 98px;
		position: absolute;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#NELER {
		left: 698px;
		top: 98px;
		position: absolute;
		overflow: visible;
		width: 67px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#DUYURULAR_db {
		left: 1157px;
		top: 98px;
		position: absolute;
		overflow: visible;
		width: 95px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#LETM {
		left: 1398px;
		top: 98px;
		position: absolute;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0,0,0,1);
	}
	#Group_3 {
		position: absolute;
		width: 232.013px;
		height: 105.461px;
		left: 843.994px;
		top: 46.522px;
		overflow: visible;
	}
	#Group_2 {
		position: absolute;
		width: 232.013px;
		height: 105.461px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#TR__EN {
		left: 1409px;
		top: 48px;
		position: absolute;
		overflow: visible;
		width: 55px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(0,129,195,1);
	}
	#Repeat_Grid_1 {
		position: absolute;
		width: 1164px;
		height: 532px;
		left: 380px;
		top: 2622px;
		overflow: hidden;
	}
	#Group {
		position: absolute;
		width: 384px;
		height: 520px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_32 {
		opacity: 0.9;
		fill: transparent;
		stroke: rgba(204,215,219,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_32 {
		position: absolute;
		overflow: visible;
		width: 384px;
		height: 260px;
		left: 0px;
		top: 202px;
	}
	#Group_17_dj {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_16_dk {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ekran_Resmi_2022-03-26_162337_dl {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_23_dm {
		fill: rgba(105,199,243,1);
	}
	.Path_23_dm {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
		overflow: visible;
		position: absolute;
		width: 56.607px;
		height: 62.582px;
		left: 173.224px;
		top: 78.778px;
		transform: matrix(1,0,0,1,0,0);
	}
	#surgeons-sew-up-patient-s-skin {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#ESTETK_CERRAHDE_YEN_STR_TEKNKL {
		left: 33px;
		top: 235px;
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 54px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(1,129,196,1);
	}
	#Lorem_Ipsum_is_simply_dummy_te {
		left: 33px;
		top: 299px;
		position: absolute;
		overflow: hidden;
		width: 295px;
		height: 145px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(88,88,88,1);
	}
	#Component_2__8 {
		transform: translate(-380px, -2486px) matrix(1,0,0,1,545.4998,2859.5002) rotate(-90deg);
		transform-origin: center;
		position: absolute;
		width: 54px;
		height: 239px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Subtraction_1_dr {
		fill: rgba(110,197,242,1);
	}
	.Subtraction_1_dr {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 257px;
		height: 72px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_15_ds {
		transform: translate(0px, 54px) matrix(1,0,0,1,12.1831,65) rotate(90deg);
		transform-origin: center;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_16_dt {
		fill: rgba(255,255,255,1);
	}
	.Path_16_dt {
		overflow: visible;
		position: absolute;
		width: 16.004px;
		height: 16.004px;
		left: 7.5px;
		top: 7.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_17_du {
		fill: rgba(255,255,255,1);
	}
	.Path_17_du {
		overflow: visible;
		position: absolute;
		width: 6.507px;
		height: 6.507px;
		left: 12.249px;
		top: 12.249px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_18_dv {
		fill: rgba(255,255,255,1);
	}
	.Path_18_dv {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_21_dw {
		fill: rgba(255,255,255,1);
	}
	.Path_21_dw {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		transform: translate(0px, 54px) matrix(1,0,0,1,11.9946,106) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_22_dx {
		fill: rgba(255,255,255,1);
	}
	.Path_22_dx {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 30.817px;
		transform: translate(0px, 54px) matrix(1,0,0,1,11.9945,146.0942) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Group_36 {
		position: absolute;
		width: 29.922px;
		height: 29.922px;
		left: 259.83px;
		top: 478.039px;
		overflow: visible;
	}
	#Group_35 {
		position: absolute;
		width: 29.922px;
		height: 29.922px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_37 {
		position: absolute;
		width: 25px;
		height: 32px;
		left: 95px;
		top: 478px;
		overflow: visible;
	}
	#Ellipse_5 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_5 {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 15px;
		top: 0px;
	}
	#Ellipse_6 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 0px;
		top: 10px;
	}
	#Ellipse_7 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_7 {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 15px;
		top: 21px;
	}
	#Rectangle_34 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_34 {
		width: 4.655px;
		height: 16.626px;
		position: absolute;
		overflow: visible;
		transform: translate(-468.468px, -2955.961px) matrix(1,0,0,1,478.0952,2958.3275) rotate(56deg);
		transform-origin: center;
	}
	#Rectangle_35 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_35 {
		width: 4.655px;
		height: 16.626px;
		position: absolute;
		overflow: visible;
		transform: translate(-468.468px, -2955.961px) matrix(1,0,0,1,479.0325,2968.9684) rotate(127deg);
		transform-origin: center;
	}
	#Group_d {
		position: absolute;
		width: 384px;
		height: 520px;
		left: 388px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_32_d {
		opacity: 0.9;
		fill: transparent;
		stroke: rgba(204,215,219,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_32_d {
		position: absolute;
		overflow: visible;
		width: 384px;
		height: 260px;
		left: 0px;
		top: 202px;
	}
	#Group_17_d {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_16_d {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ekran_Resmi_2022-03-26_162337_ea {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_23_eb {
		fill: rgba(105,199,243,1);
	}
	.Path_23_eb {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
		overflow: visible;
		position: absolute;
		width: 56.607px;
		height: 62.582px;
		left: 173.224px;
		top: 78.778px;
		transform: matrix(1,0,0,1,0,0);
	}
	#surgeons-sew-up-patient-s-skin_ec {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#YAPAY_ZEK_VE_CERRAH_ROBOTLAR {
		left: 33px;
		top: 235px;
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 54px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(1,129,196,1);
	}
	#There_are_many_variations_of_p {
		left: 33px;
		top: 299px;
		position: absolute;
		overflow: hidden;
		width: 295px;
		height: 145px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(88,88,88,1);
	}
	#Component_2__8_ef {
		transform: translate(-380px, -2486px) matrix(1,0,0,1,545.4998,2859.5002) rotate(-90deg);
		transform-origin: center;
		position: absolute;
		width: 54px;
		height: 239px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Subtraction_1_eg {
		fill: rgba(110,197,242,1);
	}
	.Subtraction_1_eg {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 257px;
		height: 72px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_15_eh {
		transform: translate(0px, 54px) matrix(1,0,0,1,12.1831,65) rotate(90deg);
		transform-origin: center;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_16_ei {
		fill: rgba(255,255,255,1);
	}
	.Path_16_ei {
		overflow: visible;
		position: absolute;
		width: 16.004px;
		height: 16.004px;
		left: 7.5px;
		top: 7.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_17_ej {
		fill: rgba(255,255,255,1);
	}
	.Path_17_ej {
		overflow: visible;
		position: absolute;
		width: 6.507px;
		height: 6.507px;
		left: 12.249px;
		top: 12.249px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_18_ek {
		fill: rgba(255,255,255,1);
	}
	.Path_18_ek {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_21_el {
		fill: rgba(255,255,255,1);
	}
	.Path_21_el {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		transform: translate(0px, 54px) matrix(1,0,0,1,11.9946,106) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_22_em {
		fill: rgba(255,255,255,1);
	}
	.Path_22_em {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 30.817px;
		transform: translate(0px, 54px) matrix(1,0,0,1,11.9945,146.0942) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Group_36_en {
		position: absolute;
		width: 29.922px;
		height: 29.922px;
		left: 259.83px;
		top: 478.039px;
		overflow: visible;
	}
	#Group_35_eo {
		position: absolute;
		width: 29.922px;
		height: 29.922px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_37_ep {
		position: absolute;
		width: 25px;
		height: 32px;
		left: 95px;
		top: 478px;
		overflow: visible;
	}
	#Ellipse_5_eq {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_5_eq {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 15px;
		top: 0px;
	}
	#Ellipse_6_er {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_6_er {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 0px;
		top: 10px;
	}
	#Ellipse_7_es {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_7_es {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 15px;
		top: 21px;
	}
	#Rectangle_34_et {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_34_et {
		width: 4.655px;
		height: 16.626px;
		position: absolute;
		overflow: visible;
		transform: translate(-468.468px, -2955.961px) matrix(1,0,0,1,478.0952,2958.3275) rotate(56deg);
		transform-origin: center;
	}
	#Rectangle_35_eu {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_35_eu {
		width: 4.655px;
		height: 16.626px;
		position: absolute;
		overflow: visible;
		transform: translate(-468.468px, -2955.961px) matrix(1,0,0,1,479.0325,2968.9684) rotate(127deg);
		transform-origin: center;
	}
	#Group_ev {
		position: absolute;
		width: 384px;
		height: 520px;
		left: 776px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_32_ew {
		opacity: 0.9;
		fill: transparent;
		stroke: rgba(204,215,219,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_32_ew {
		position: absolute;
		overflow: visible;
		width: 384px;
		height: 260px;
		left: 0px;
		top: 202px;
	}
	#Group_17_ex {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_16_ey {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ekran_Resmi_2022-03-26_162337_ez {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_23_e {
		fill: rgba(105,199,243,1);
	}
	.Path_23_e {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
		overflow: visible;
		position: absolute;
		width: 56.607px;
		height: 62.582px;
		left: 173.224px;
		top: 78.778px;
		transform: matrix(1,0,0,1,0,0);
	}
	#surgeons-sew-up-patient-s-skin_e {
		position: absolute;
		width: 384px;
		height: 202px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#YEN_BALAYANLAR_N_STR_BALAMA_TE {
		left: 33px;
		top: 235px;
		position: absolute;
		overflow: visible;
		width: 326px;
		height: 54px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(1,129,196,1);
	}
	#It_is_a_long_established_fact_ {
		left: 33px;
		top: 299px;
		position: absolute;
		overflow: hidden;
		width: 295px;
		height: 145px;
		line-height: 20px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(88,88,88,1);
	}
	#Component_2__8_e {
		transform: translate(-380px, -2486px) matrix(1,0,0,1,545.4998,2859.5002) rotate(-90deg);
		transform-origin: center;
		position: absolute;
		width: 54px;
		height: 239px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Subtraction_1_e {
		fill: rgba(110,197,242,1);
	}
	.Subtraction_1_e {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
		overflow: visible;
		position: absolute;
		width: 257px;
		height: 72px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_15_e {
		transform: translate(0px, 54px) matrix(1,0,0,1,12.1831,65) rotate(90deg);
		transform-origin: center;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_16_e {
		fill: rgba(255,255,255,1);
	}
	.Path_16_e {
		overflow: visible;
		position: absolute;
		width: 16.004px;
		height: 16.004px;
		left: 7.5px;
		top: 7.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_17_e {
		fill: rgba(255,255,255,1);
	}
	.Path_17_e {
		overflow: visible;
		position: absolute;
		width: 6.507px;
		height: 6.507px;
		left: 12.249px;
		top: 12.249px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_18_e {
		fill: rgba(255,255,255,1);
	}
	.Path_18_e {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_21_fa {
		fill: rgba(255,255,255,1);
	}
	.Path_21_fa {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 31.005px;
		transform: translate(0px, 54px) matrix(1,0,0,1,11.9946,106) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_22_fb {
		fill: rgba(255,255,255,1);
	}
	.Path_22_fb {
		overflow: visible;
		position: absolute;
		width: 31.005px;
		height: 30.817px;
		transform: translate(0px, 54px) matrix(1,0,0,1,11.9945,146.0942) rotate(90deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Group_36_fc {
		position: absolute;
		width: 29.922px;
		height: 29.922px;
		left: 259.83px;
		top: 478.039px;
		overflow: visible;
	}
	#Group_35_fd {
		position: absolute;
		width: 29.922px;
		height: 29.922px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_37_fe {
		position: absolute;
		width: 25px;
		height: 32px;
		left: 95px;
		top: 478px;
		overflow: visible;
	}
	#Ellipse_5_ff {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_5_ff {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 15px;
		top: 0px;
	}
	#Ellipse_6_fg {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_6_fg {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 0px;
		top: 10px;
	}
	#Ellipse_7_fh {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_7_fh {
		position: absolute;
		overflow: visible;
		width: 10px;
		height: 11px;
		left: 15px;
		top: 21px;
	}
	#Rectangle_34_fi {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_34_fi {
		width: 4.655px;
		height: 16.626px;
		position: absolute;
		overflow: visible;
		transform: translate(-468.468px, -2955.961px) matrix(1,0,0,1,478.0952,2958.3275) rotate(56deg);
		transform-origin: center;
	}
	#Rectangle_35_fj {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_35_fj {
		width: 4.655px;
		height: 16.626px;
		position: absolute;
		overflow: visible;
		transform: translate(-468.468px, -2955.961px) matrix(1,0,0,1,479.0325,2968.9684) rotate(127deg);
		transform-origin: center;
	}
	#dugme_fk {
		position: absolute;
		width: 122px;
		height: 28px;
		left: 902px;
		top: 2400px;
		overflow: visible;
	}
	#Group_8_fl {
		position: absolute;
		width: 122px;
		height: 28px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_14_fm {
		fill: rgba(110,197,242,1);
	}
	.Rectangle_14_fm {
		filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 46px;
		left: 0px;
		top: 0px;
	}
	#Tmn_Gster_fn {
		left: 9.007px;
		top: 7.304px;
		position: absolute;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(255,255,255,1);
	}
	#Path_14_fo {
		fill: rgba(255,255,255,1);
	}
	.Path_14_fo {
		overflow: visible;
		position: absolute;
		width: 8.773px;
		height: 12.726px;
		left: 105.22px;
		top: 7.637px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_38 {
		position: absolute;
		width: 36px;
		height: 36px;
		left: 1086px;
		top: 2397px;
		overflow: visible;
	}
	#Ellipse_1_fq {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1_fq {
		position: absolute;
		overflow: visible;
		width: 36px;
		height: 36px;
		left: 0px;
		top: 0px;
	}
	#Path_15_fr {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15_fr {
		overflow: visible;
		position: absolute;
		width: 13.985px;
		height: 23.97px;
		left: 15.422px;
		top: 8.843px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_39 {
		position: absolute;
		width: 36px;
		height: 36px;
		left: 799px;
		top: 2397px;
		overflow: visible;
	}
	#Ellipse_1_ft {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1_ft {
		position: absolute;
		overflow: visible;
		width: 36px;
		height: 36px;
		left: 0px;
		top: 0px;
	}
	#Path_15_fu {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15_fu {
		overflow: visible;
		position: absolute;
		width: 13.985px;
		height: 23.97px;
		left: 12.422px;
		top: 8.844px;
		transform: matrix(1,0,0,1,0,0);
	}
	#dugme_fv {
		position: absolute;
		width: 122px;
		height: 28px;
		left: 902px;
		top: 3217px;
		overflow: visible;
	}
	#Group_8_fw {
		position: absolute;
		width: 122px;
		height: 28px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_14_fx {
		fill: rgba(110,197,242,1);
	}
	.Rectangle_14_fx {
		filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
		position: absolute;
		overflow: visible;
		width: 140px;
		height: 46px;
		left: 0px;
		top: 0px;
	}
	#Tmn_Gster_fy {
		left: 9.007px;
		top: 7.304px;
		position: absolute;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: center;
		font-family: Helvetica Neue, arial;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(255,255,255,1);
	}
	#Path_14_fz {
		fill: rgba(255,255,255,1);
	}
	.Path_14_fz {
		overflow: visible;
		position: absolute;
		width: 8.773px;
		height: 12.726px;
		left: 105.22px;
		top: 7.637px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_40 {
		position: absolute;
		width: 36px;
		height: 36px;
		left: 1086px;
		top: 3214px;
		overflow: visible;
	}
	#Ellipse_1_f {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1_f {
		position: absolute;
		overflow: visible;
		width: 36px;
		height: 36px;
		left: 0px;
		top: 0px;
	}
	#Path_15_f {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15_f {
		overflow: visible;
		position: absolute;
		width: 13.985px;
		height: 23.97px;
		left: 15.422px;
		top: 8.844px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_41 {
		position: absolute;
		width: 36px;
		height: 36px;
		left: 799px;
		top: 3214px;
		overflow: visible;
	}
	#Ellipse_1_ga {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1_ga {
		position: absolute;
		overflow: visible;
		width: 36px;
		height: 36px;
		left: 0px;
		top: 0px;
	}
	#Path_15_ga {
		fill: transparent;
		stroke: rgba(229,229,229,1);
		stroke-width: 4px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15_ga {
		overflow: visible;
		position: absolute;
		width: 13.985px;
		height: 23.97px;
		left: 12.422px;
		top: 8.844px;
		transform: matrix(1,0,0,1,0,0);
	}
}
