.mediaViewInfo {
	--web-view-name: homepage;
	--web-view-id: homepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: homepage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#homepage {
	position: absolute;
	width: 1920px;
	height: 3342px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: homepage;
	--web-view-id: homepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_22 {
	fill: rgba(0,76,116,1);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 117px;
	left: 0px;
	top: 3227px;
}
#Rectangle_15 {
	fill: rgba(252,252,252,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 1160px;
	height: 595px;
	left: 380px;
	top: 1272px;
}
#Rectangle_16 {
	fill: rgba(252,252,252,1);
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 1160px;
	height: 385px;
	left: 380px;
	top: 2097px;
}
#Rectangle_9 {
	fill: rgba(237,237,237,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 130px;
	left: 0px;
	top: 949px;
}
#healthcare-medical-concept-med {
	position: absolute;
	width: 1920px;
	height: 1079px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#emilebilir {
	position: absolute;
	width: 190px;
	height: 130px;
	left: 380px;
	top: 966px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 130px;
	left: 0px;
	top: 0px;
}
#EMLEBLR_STRLER {
	left: 55px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#milmeyen {
	position: absolute;
	width: 190px;
	height: 130px;
	left: 574px;
	top: 966px;
	overflow: visible;
}
#Rectangle_3_u {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_u {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 130px;
	left: 0px;
	top: 0px;
}
#EMLMEYEN_STRLER {
	left: 52px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Component_7__1 {
	position: absolute;
	width: 190px;
	height: 130px;
	left: 962px;
	top: 966px;
	overflow: visible;
}
#Rectangle_3_x {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_x {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 130px;
	left: 0px;
	top: 0px;
}
#EMLEBLR_HEMOSTAT {
	left: 55px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Component_8__1 {
	position: absolute;
	width: 190px;
	height: 130px;
	left: 1156px;
	top: 966px;
	overflow: visible;
}
#Rectangle_3_ {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_ {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 130px;
	left: 0px;
	top: 0px;
}
#DENTAL_STRLER {
	left: 56px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Component_9__1 {
	position: absolute;
	width: 190px;
	height: 130px;
	left: 1350px;
	top: 966px;
	overflow: visible;
}
#Rectangle_3_ba {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_ba {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 130px;
	left: 0px;
	top: 0px;
}
#VETERNERLK {
	left: 44px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Path_10 {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 4px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 34.538px;
	height: 78.966px;
	left: 177.002px;
	top: 548.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 4px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 34.538px;
	height: 78.966px;
	left: 1715.65px;
	top: 548.5px;
	transform: matrix(1,0,0,1,0,0);
}
#emilebilirhemosta {
	position: absolute;
	width: 190px;
	height: 130px;
	left: 768px;
	top: 966px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s wind-up;
	--web-action-type: page;
	--web-action-target: tektel.html;
	cursor: pointer;
}
#kvc {
	position: absolute;
	width: 190px;
	height: 130px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_bb {
	fill: rgba(255,255,255,1);
}
.Rectangle_3_bb {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 130px;
	left: 0px;
	top: 0px;
}
#KVC_ba {
	left: 80px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Line_3 {
	opacity: 0.495;
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 773px;
	height: 1px;
	left: 574px;
	top: 1927px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_5 {
	position: absolute;
	width: 246px;
	height: 56px;
	left: 837px;
	top: 1156px;
	overflow: visible;
}
#LGN_CARD {
	position: absolute;
	width: 246px;
	height: 56px;
	left: 837px;
	top: 1156px;
	overflow: visible;
}
#DUYURULAR {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 247px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(1,129,196,1);
}
#Group_9 {
	position: absolute;
	width: 352px;
	height: 56px;
	left: 784px;
	top: 1975px;
	overflow: visible;
}
#ETKNLK_REHBER {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 353px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(1,129,196,1);
}
#anastomoz_kopya {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 802px;
	top: 1387px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s linear;
	--web-action-type: page;
	--web-action-target: homepage___1.html;
	cursor: pointer;
}
#anastomoz_kopya_bh {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ohsad-ingilizce {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 1181px;
	top: 1387px;
	overflow: visible;
}
#ohsad-ingilizce_bj {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_7_Mart_stanbul_Beiktata_bulu {
	left: 425px;
	top: 1728px;
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 60px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(82,82,82,1);
}
#n_3-27_Mart_Antalyada_dzenlene {
	left: 804px;
	top: 1728px;
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 45px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(82,82,82,1);
}
#n_3-27_Mart_tarihlerinde_Antal {
	left: 1183px;
	top: 1728px;
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 45px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: lighter;
	font-size: 12px;
	color: rgba(82,82,82,1);
}
#D_HEKML_STR_FLEP__KAPLAMA_ETM {
	left: 424px;
	top: 1310px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(31,31,31,1);
}
#n_2_ULUSAL_CERRAH_KONGRES {
	left: 803px;
	top: 1310px;
	position: absolute;
	overflow: visible;
	width: 242px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(31,31,31,1);
}
#n_2_OHSAD_KONGRES {
	left: 1182px;
	top: 1310px;
	position: absolute;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(31,31,31,1);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 326px;
	height: 1px;
	left: 425.5px;
	top: 1360.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 326px;
	height: 1px;
	left: 804.5px;
	top: 1360.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6 {
	fill: transparent;
	stroke: rgba(208,222,230,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 326px;
	height: 1px;
	left: 1183.5px;
	top: 1360.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_13 {
	position: absolute;
	width: 122px;
	height: 28px;
	left: 899px;
	top: 1820px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 122px;
	height: 28px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_14 {
	fill: rgba(110,197,242,1);
}
.Rectangle_14 {
	filter: drop-shadow(0px 3px 6px rgba(0, 105, 170, 0.161));
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 46px;
	left: 0px;
	top: 0px;
}
#Tmn_Gster {
	left: 10.007px;
	top: 6.304px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Path_14 {
	fill: rgba(255,255,255,1);
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 8.773px;
	height: 12.726px;
	left: 105.22px;
	top: 7.637px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_10 {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 1083px;
	top: 1817px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Path_15 {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 4px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 13.985px;
	height: 23.97px;
	left: 15.422px;
	top: 8.843px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_11 {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 796px;
	top: 1817px;
	overflow: visible;
}
#Ellipse_1_b {
	fill: rgba(255,255,255,1);
}
.Ellipse_1_b {
	position: absolute;
	overflow: visible;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Path_15_b {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 4px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_15_b {
	overflow: visible;
	position: absolute;
	width: 13.985px;
	height: 23.97px;
	left: 12.422px;
	top: 8.844px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_17 {
	fill: rgba(1,129,196,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 472px;
	left: 0px;
	top: 2755px;
}
#Rectangle_18 {
	fill: rgba(252,252,252,1);
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 112px;
	left: 0px;
	top: 2643px;
}
#Component_2__1 {
	position: absolute;
	width: 59px;
	height: 261px;
	left: 1861px;
	top: 770px;
	overflow: visible;
}
#Subtraction_1 {
	fill: rgba(110,197,242,1);
}
.Subtraction_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 77px;
	height: 279px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_15 {
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 15px;
	top: 90.997px;
	overflow: visible;
}
#Path_16 {
	fill: rgba(255,255,255,1);
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 16.004px;
	height: 16.005px;
	left: 7.5px;
	top: 7.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
	fill: rgba(255,255,255,1);
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 6.507px;
	height: 6.507px;
	left: 12.249px;
	top: 12.249px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_18 {
	fill: rgba(255,255,255,1);
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 15px;
	top: 188.997px;
	overflow: visible;
}
#Path_19 {
	fill: rgba(255,255,255,1);
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 5.37px;
	height: 6.201px;
	left: 13.436px;
	top: 12.402px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_20 {
	fill: rgba(255,255,255,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_21 {
	fill: rgba(255,255,255,1);
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 31.005px;
	left: 15px;
	top: 40.997px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	fill: rgba(255,255,255,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 31.005px;
	height: 30.817px;
	left: 15px;
	top: 139.997px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_21 {
	fill: rgba(0,0,0,0);
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 35px;
	height: 166.961px;
	left: 1876px;
	top: 824.355px;
}
#Group_17 {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 423px;
	top: 2131px;
	overflow: visible;
}
#Group_16 {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ekran_Resmi_2022-03-26_162337 {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_23_cm {
	fill: url(#Path_23_cm);
}
.Path_23_cm {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
	overflow: visible;
	position: absolute;
	width: 49.871px;
	height: 54.803px;
	left: 143px;
	top: 140px;
	transform: matrix(1,0,0,1,0,0);
}
#Ekran_Resmi_2022-03-26_162337_cn {
	fill: rgba(0,129,195,1);
}
.Ekran_Resmi_2022-03-26_162337_cn {
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
}
#Group_16_co {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 1181px;
	top: 2131px;
	overflow: visible;
}
#Ekran_Resmi_2022-03-26_162337_cp {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_23_cr {
	fill: url(#Path_23_cr);
}
.Path_23_cr {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
	overflow: visible;
	position: absolute;
	width: 49.871px;
	height: 54.803px;
	left: 143px;
	top: 140px;
	transform: matrix(1,0,0,1,0,0);
}
#Ekran_Resmi_2022-03-26_162337_cs {
	fill: rgba(0,129,195,1);
}
.Ekran_Resmi_2022-03-26_162337_cs {
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 317px;
	left: 1181px;
	top: 2131px;
}
#Group_19 {
	position: absolute;
	width: 76.701px;
	height: 76.698px;
	left: 1307.65px;
	top: 2178px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 76.701px;
	height: 76.698px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_21 {
	position: absolute;
	width: 76.701px;
	height: 76.698px;
	left: 543px;
	top: 2178px;
	overflow: visible;
}
#Group_18_cw {
	position: absolute;
	width: 76.701px;
	height: 76.698px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#UBAT_2022 {
	left: 1238px;
	top: 2307px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Group_16_cy {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 802px;
	top: 2131px;
	overflow: visible;
}
#Ekran_Resmi_2022-03-26_162337_cz {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_23_da {
	fill: url(#Path_23_da);
}
.Path_23_da {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.133));
	overflow: visible;
	position: absolute;
	width: 49.871px;
	height: 54.803px;
	left: 143px;
	top: 140px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_1__1 {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 802px;
	top: 2131px;
	overflow: visible;
}
#Ekran_Resmi_2022-03-26_162337_c {
	fill: rgba(0,129,195,1);
}
.Ekran_Resmi_2022-03-26_162337_c {
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
}
#Group_20 {
	position: absolute;
	width: 76.701px;
	height: 76.698px;
	left: 120px;
	top: 47px;
	overflow: visible;
}
#Group_18_c {
	position: absolute;
	width: 76.701px;
	height: 76.698px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MART_2022 {
	left: 64px;
	top: 176px;
	position: absolute;
	overflow: visible;
	width: 190px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#NSAN-MAYIS_2022 {
	left: 466px;
	top: 2307px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_9-mart {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 423px;
	top: 1387px;
	overflow: visible;
	transition: all 0.20000000298023224s linear;
	--web-animation: fadein 0.20000000298023224s linear;
	--web-action-type: page;
	--web-action-target: homepage___2.html;
	cursor: pointer;
}
#n_9-mart_c {
	position: absolute;
	width: 317px;
	height: 317px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_24 {
	position: absolute;
	width: 1920px;
	height: 193px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10_dc {
	fill: url(#Rectangle_10_dc);
}
.Rectangle_10_dc {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 193px;
	left: 0px;
	top: 0px;
}
#ANASAYFA {
	left: 458px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#KATALOGLAR {
	left: 568px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#KURUMSAL {
	left: 1282px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#NELER {
	left: 698px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#DUYURULAR_dh {
	left: 1156px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#LETM {
	left: 1398px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}

#LGN {
	left: 1490px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#Group_3 {
	position: absolute;
	width: 232.013px;
	height: 105.461px;
	left: 843.994px;
	top: 46.522px;
	overflow: visible;
}
#Group_2 {
	position: absolute;
	width: 232.013px;
	height: 105.461px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#TR__EN {
	left: 1410px;
	top: 47px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,129,195,1);
}
